<h1>New Case</h1>

<%= render partial: "layouts/errors", locals: {object:@case}%>

<%# make all the User.all.map scopes for grabbing programming coordinators, bis and clients%>
<%= form_for(@case) do |f| %>
    <label>Available Program Coordinators</label>
        <%= f.select :pc_id, options_for_select(User.all.map{|k,v| 
        if k.program_coordinator?
            [k.first_name,k.id] 
        end }.compact)%>
    <br>

    <label>Available Behavioral Therapist</label>
        <%= f.select :bi_id, options_for_select(User.all.map{|k,v| 
        if k.behavioral_therapist?
            [k.first_name,k.id] 
        end }.compact)%>
    <br>

        <label>Available Client</label>
        <%= f.select :client_id, options_for_select(User.all.map{|k,v| 
        if k.client? && k.cases.count == 0
            [k.first_name,k.id] 
        end }.compact)%>
    <br>
    <%= f.submit "Create Case"%>
<% end%>