<h1>New Case</h1>

<%#you can use @users but i think map is overriding it%>
<%= form_for(@case) do |f| %>
    <label>Available Program Coordinators</label>
        <%= f.select :pc_id, options_for_select(User.all.map{|k,v| 
        if k.role == "program_coordinator"
            [k.first_name,k.id] 
        end }.compact)%>
    <br>

    <label>Available Behavioral Therapist</label>
        <%= f.select :bi_id, options_for_select(User.all.map{|k,v| 
        if k.role == "behavioral_therapist"
            [k.first_name,k.id] 
        end }.compact)%>
    <br>

        <label>Available Client</label>
        <%= f.select :client_id, options_for_select(User.all.map{|k,v| 
        if k.role == "client" 
            [k.first_name,k.id] 
        end }.compact)%>
    <br>
    <%= f.submit "Create Case"%>
<% end%>