  <div class="row container" >
    <div class="container">
          <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Case #</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Time</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
    <%@user.appointments.each do |a|%>
           <%if a.date.strftime("%d").to_i == Date.today.day.to_i%>
          <tr>
            <th scope="row"><%=a.case.id%></th>
            <td><%=a.case.client.first_name%></td>
            <td><%=a.case.client.last_name%></td>
            <td><%=a.from_time.strftime("%I:%M %p")%> - <%=a.to_time.strftime("%I:%M %p")  %></td>
            <td><%=a.date.strftime("%m/%d/%Y")%></td>
          </tr>
          <%end%>
          <%end%>
        </tbody>
      </table>
    </div>
      </div>