<h1>All Appointments</h1>

<% @appointments.each do |a|%>
    Case #<%= a.case.id %>
    <br>
    <%= link_to "Appointment", appointment_path(a) %>
    <br>
    <b>Client: <%=a.case.client.first_name%> <%=a.case.client.last_name%></b>
    <br>
    <b>Program Coordinator: <%=a.case.pc.first_name%> <%=a.case.pc.last_name%></b>
    <br>
    <b>Behavioral Therapist: <%=a.case.bi.first_name%> <%=a.case.bi.last_name%></b>
    <br>
    <h3>Time</h3>
    <%=a.from_time%> - <%=a.to_time%>
    <br>
    <h3>Date</h3>
    <%=a.date%>

    <h4>Comments</h4>

    <%a.comments.each do |c|%>
        <p><b><%=c.user.first_name%></b> <%=c.content%>
    <%end%>

<%end%>

