
<% if @case%>
<h1>New Appointment for Case #<%=@case.id%></h1>

<%else%>
<h1>New Appointment  </h1>

<%= render partial: "layouts/errors", locals: {object:@appointment}%>

<%end%>
<%= form_for([@case,@appointment]) do |f| %>

    <%if !@case%>
    <label>Case</label>
        <%= f.select :case_id, options_for_select(Case.all.map{|k,v| [k.client.return_last_to_first_name,k.id]})%>

    <%else%>
    <%= f.hidden_field :case_id%>
    <%end%>
    <br>
    <%= f.label :from_time %>
    <%= f.time_field :from_time, value: "%H:%M", min: 'hh:mm:ss',max: 'hh:mm:ss'%>
    <br>

    <%= f.label :to_time %>
    <%= f.time_field :to_time, value: "%H:%M", min: 'hh:mm:ss',max: 'hh:mm:ss'%>
    <br>

    <%= f.label :date %>
    <%= f.date_select :date %>
    <br>

    <%= f.submit %>

<%end%>
