  <div class="row container" >
    <div class="container">

          <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Case #</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Time</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%=@appointment.case.id%></th>
            <td><%=@appointment.case.client.first_name%></td>
            <td><%=@appointment.case.client.last_name%></td>
            <td><%=@appointment.from_time.strftime("%I:%M %p")%> - <%=@appointment.to_time.strftime("%I:%M %p")  %></td>
            <td><%=@appointment.date.strftime("%m/%d/%Y")%></td>
          </tr>
          <tr>
        </tbody>
      </table>

<h2 style="text-align:center">Notes Section</h2>
        <%@appointment.comments.each do |c|%>
          <div class="row" >
                <div class="col-3" style="border: 1px black solid;">
                    <%=c.user.return_last_to_first_name%>
                </div>
                <div class="col-9" style="border: 1px black solid;">
                    <%=c.content%>
                </div>
        </div>
        <%end%>
  
        <div style="text-align:center">
        <button>Save</button>
        </div>
    </div>
      </div>
